.locationView {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.locationRow {
    display: flex;
    width:fit-content;
    height: fit-content;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.locationSelectView {
    display: flex;
    flex-direction: row;
    width: 700px;
    justify-content: space-between;
    height: fit-content;
}

