.App {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  background-color: red;
}

.App::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.App {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@font-face {
  font-family: "AvenirNext";
  src: local("AvenirNext"),
   url("./assets/Fonts/AvenirNext/AvenirNextLTPro-Bold.otf") format("opentype");
  }
